body { padding-top: 60px; padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }

/* Team Logos */
img.team-small { height: 20px; padding:5px; vertical-align:middle}
img.team-med { height: 54px; width: 81px;padding:5px; vertical-align:middle}
img.team-large { height: 54px; width: 81px;padding:5px; vertical-align:middle}
img.ari { content:url(../img/ari.png); }
img.atl { content:url(../img/atl.png); }
img.bal { content:url(../img/bal.png); }
img.buf { content:url(../img/buf.png); }
img.car { content:url(../img/car.png); }
img.chi { content:url(../img/chi.png); }
img.cin { content:url(../img/cin.png); }
img.cle { content:url(../img/cle.png); }
img.dal { content:url(../img/dal.png); }
img.den { content:url(../img/den.png); }
img.det { content:url(../img/det.png); }
img.gb { content:url(../img/gb.png); }
img.hou { content:url(../img/hou.png); }
img.ind { content:url(../img/ind.png); }
img.jac { content:url(../img/jac.png); }
img.kc { content:url(../img/kc.png); }
img.mia { content:url(../img/mia.png); }
img.min { content:url(../img/min.png); }
img.ne { content:url(../img/ne.png); }
img.no { content:url(../img/no.png); }
img.nyg { content:url(../img/nyg.png); }
img.nyj { content:url(../img/nyj.png); }
img.oak { content:url(../img/oak.png); }
img.phi { content:url(../img/phi.png); }
img.pit { content:url(../img/pit.png); }
img.sd { content:url(../img/sd.png); }
img.sea { content:url(../img/sea.png); }
img.sf { content:url(../img/sf.png); }
img.stl { content:url(../img/stl.png); }
img.tb { content:url(../img/tb.png); }
img.ten { content:url(../img/ten.png); }
img.was { content:url(../img/was.png); }

img.profile {
    content:url(https://secure.gravatar.com/avatar/73a2ffba9e3be3c846684c3285e1a967?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png);
    height:30px;
    width:30px;
    padding:5px;
    vertical-align:middle
}

.table-striped tbody tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

.table-bordered th,
.table-striped tbody tr:nth-child(odd) th{
    background-color: #333333;
    color: #ffffff;
}
.table-bordered td {
    background-color: #ffffff;
}

.table-bordered.matchups td.aligncenter {
    text-align: center;
}

table.standings td,
table.standings th
{
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
}